<%= form_with(model: message, remote: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :room_id, value: room.id %>

  <div class="input-group">
    <%= form.text_field :content, placeholder: "Type your message here...", class: 'form-control' %>
    &nbsp &nbsp
    <div class="input-group-append">
      <%= form.submit "Add Message", class: "btn btn-primary",id: "send" %>
    </div>
  </div>
<% end %>